/* MKS 2/18/2011 Override definitions in core.css for narrower spacing btw
   elements on start page and better margins in widgets. */
.lotusWidgetBody{clear:both;padding:3px 8px 3px 8px}
.lotusWidget{margin:0 1px 10px 0px;}
.lotusContent{padding:16px 10px 10px 10px}
.lotusWelcomeBox{width:95%;margin:0px 0px 10px 0px;padding:15px;position:relative;border-width:1px;border-style:solid;overflow:hidden;zoom:1;}

/*Dojo slider*/
.dijitSliderBar {border-style:none !important;}
.dijitSliderBumperH {width:2px !important;}
.dijitSlider .dijitButtonNode {display:none !important;}

.dijitSliderImageHandle {border:0px !important; background-position:left bottom !important; background-repeat:no-repeat !important; width:10px !important; height:11px !important;}
.dijitSliderImageHandleH {top:-3px !important; background:transparent url(xpTagSliderHandle.gif) no-repeat scroll center top !important;}

.dijitSliderProgressBar {background-color:#a5c0ec !important;}
.dijitSliderRemainingBar {background-color:#e3e3e3 !important;}
.dijitSliderBottomBumper, .dijitSliderLeftBumper {background-color:#a5c0ec !important;}

/* tag cloud outer panel */
.tagCloudOuterPanel {margin:5px;}

/* tag cloud slider */
.tagCloudSlider {padding-top:10px; padding-bottom:5px}

/* tag cloud inner panel */
.tagCloudInnerPanel {margin-top:5px; width:100%; overflow:hidden;}
.tagCloudInnerPanel a {text-decoration:none; font-weight:bold;}
.tagCloudInnerPanel a:hover, .tagCloudInnerPanel a:focus {text-decoration:underline;}

/* tag cloud individual tags */
a.tagCloudSize1, a.tagCloudSize1:visited	{font-size:90%;  color:#8bbce8;}
a.tagCloudSize2, a.tagCloudSize2:visited	{font-size:93%;  color:#649cd8;}
a.tagCloudSize3, a.tagCloudSize3:visited	{font-size:96%;  color:#4477bb;}
a.tagCloudSize4, a.tagCloudSize4:visited	{font-size:102%; color:#2b588e;}
a.tagCloudSize5, a.tagCloudSize5:visited	{font-size:107%; color:#1c3052;}
a.tagCloudSize6, a.tagCloudSize6:visited	{font-size:112%; color:#1c3052;}
a.tagCloudSize7, a.tagCloudSize7:visited	{font-size:116%; color:#1c3052;}
a.tagCloudSize8, a.tagCloudSize8:visited	{font-size:122%; color:#1c3052;}
a.tagCloudSize9, a.tagCloudSize9:visited	{font-size:130%; color:#1c3052;}
a.tagCloudSize10, a.tagCloudSize10:visited	{font-size:150%; color:#1c3052;}


/* view table header */
.xspHtmlTableViewHeader{border:0px none;width:100%;clear:both;}
.xspHtmlTrViewHeader{}
.xspHtmlTdViewHeaderTop{border:1px solid #e5e5e5;padding:5px 2px;vertical-align:top;text-align:right;background-color:#f3f3f3;color:#848484;clear:both;font-weight:bold;font-size:0.9em;height:2em;line-height:2em;margin-top:0.2em;padding:2px 5px;text-align:right;}
.xspHtmlTdViewHeaderBottom{padding:5px 2px;vertical-align:top;background-color:#ffffff;font-weight:normal;font-size:0.9em;}

/* view table footer */
.xspHtmlTableViewFooter{border:0px none;border:1px solid #e5e5e5;width:100%;clear:both;}
.xspHtmlTrViewFooter{}
.xspHtmlTdViewFooter{border:0px none;padding:5px 2px;vertical-align:top;text-align:right;background-color:#f3f3f3;color:#848484;clear:both;font-weight:bold;font-size:0.9em;height:2em;line-height:2em;margin-top:0.2em;padding:2px 5px;text-align:right;}

/* view table body*/
.xspHtmlTableView{border:0px none;width:100%;clear:both;}
.xspHtmlTrView:hover{background-color:#ffffc8;}
.xspHtmlTdView{border-top-color:#e5e5e5;border-top-style:solid;border-top-width:1px;padding:5px 2px;vertical-align:top;}

/* header pager */
.xspPagerContainerViewHeader{float:right;border-collapse:collapse;width:100%;position:relative;}
.xspPagerViewHeader{float:right;margin-top:.2em;padding:2px 5px;height:2em;line-height:2em;clear:both;text-align:center;font-weight:normal;font-size:1em;color:#848484;}
.xspPagerNavViewHeader{text-align:left;float:left;padding-left:5px;color:#848484;}

.xspGroupViewHeader span{margin:0px;padding:0px;}
.xspGroupViewHeader span span{color:#848484;display:inline;margin:0px;padding:0px 7px;border-left-width:1px;border-left-style:solid;border-color:#cccccc;}
.xspGroupViewHeader span span.xspFirstItem{padding-left:0px;border-left-width:0px;}
.xspGroupViewHeader span span.xspLastItem{padding-left:7px;border-left-width:1px;}
.xspGroupViewHeader span span a, .xspGroupViewHeader span span a:visited{color:#105cb6;font-weight:bold !important;text-decoration:none;}
.xspGroupViewHeader span span a:hover, .xspGroupViewHeader span span a:focus, .xspGroupViewHeader span span a:active{font-weight:bold !important;text-decoration:underline;}
.xspGroupViewHeader span span.xspCurrentItem{color:#848484;}

.xspPreviousViewHeader a, .xspPreviousViewHeader a:visited{color:#105cb6;font-weight:bold !important;text-decoration:none;}
.xspPreviousViewHeader a:hover, .xspPreviousViewHeader a:focus, .xspPreviousViewHeader a:active{font-weight:bold !important;text-decoration:underline;}
.xspPreviousViewHeader .xspCurrentItem{color:#848484;}

.xspNextViewHeader a, .xspNextViewHeader a:visited{color:#105cb6;font-weight:bold !important;text-decoration:none;}
.xspNextViewHeader a:hover, .xspNextViewHeader a:focus, .xspNextViewHeader a:active{font-weight:bold !important;text-decoration:underline;}
.xspNextViewHeader .xspCurrentItem{color:#848484;}


.docHeading h2, .docHeading h3,.docHeading h4,.docHeading h5 {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
padding-top: 8px;
	padding-bottom: 3px;
}	
.docHeading h2{	
	font-size:large;
	border-bottom:1px solid silver;	
}
.docHeading h3{
	font-size:small;
	font-weight:bold;	
}
.docHeading h4{
	font-size:x-small;
	font-weight:bold;	
}

/* computed text */
.xspComputedFieldTitle{color:#ffffff;float:left;font-size:1.5em;font-weight:normal;letter-spacing:0pt;line-height:2em;padding:3px 0pt 0pt 12px;margin:0px;}
.xspComputedFieldViewGeneric{color:#000000;white-space:nowrap;}
.xspComputedFieldViewMeta{color:#666666;white-space:nowrap;}
.xspComputedFieldSearchInfo{font-size:1.1em;}
.xspComputedFieldHeaderSubtitle{color:#444444;font-size:1.7em;font-weight:normal;line-height:1.2em;border:0pt none;font-family:inherit;font-style:inherit;margin:0pt;outline-color:invert;outline-style:none;outline-width:0pt;vertical-align:baseline;}
.xspComputedFieldFooter{font-weight:normal;font-size:1.1em;color:#c0c0c0;}

.xspNoWrap{white-space:nowrap;}
.xspWrap{white-space:normal;}
/* Background for article info panels */
/* .xspPanelTopicThread{background-color:#f7f9fc;padding:10px;border:1px solid #e5e5e5;-moz-border-radius:6px;} */
.xspPanelTopicThread{background-color:#f7f9fc;padding:10px;border:1px solid #dfe4e9;}
a.xspLinkViewTopicTitle:link, a.xspLinkViewTopicTitle:visited, a.xspLinkViewTopicTitle:hover, a.xspLinkViewTopicTitle:focus, a.xspLinkViewTopicTitle:active{text-decoration:none;font-size:1.1em;font-weight:bold;letter-spacing:0pt;line-height:1.2em;}

/* revision history links */
.xspRevisionLink{font-weight:normal;}
.xspRevisionLinkCurrent{font-weight:bold;}

/* abstract field help */
.xspAbstractFieldHelp{color:#666666;line-height:1.0em;font-size:small;}


/*Temporary Header fix for shipped CSS - fixes bug where title wraps at 200px*/
#lotusTitleBar h2, .lotusTitleBar h2{padding:3px 0 0 12px;float:left;font-size:1.5em;line-height:2em;letter-spacing:0;width:600px;font-weight:normal}

/*wiki toc */
.tocWrapper{padding:10px;margin-bottom:10px;border:1px solid #ADADAD;background-color: #F0F0F0; }
.tocWrapper ul{list-style: none;}
.ulWrapper {margin-left:0px;}
.tocHead{font-weight:bold;font-size:1.2em}
.tocHide {float:right;color:blue;cursor:pointer;}
.tocHide:hover {color:red;text-decoration:underline;}
#tocHidden{display:none};
#tocVisible{display:block};

/*wikitable */
.wikitable table { border: 1px solid #666666; border-collapse: collapse;	}
.wikitable td { border: 1px solid #666666;	}
.wikitable th { border: 1px solid #666666;background-color:#CCCCCC;font-weight:bold; }

/*Special handling for 'accent graphic' tables, which should have no border at all*/ 
td.accentGraphicTableCell {border-top-width:0px;}

/*source code in wiki content */
.wikicode{
border:1px solid silver;
overflow: auto;
}	
.wikicode pre
{
	background-color: #F3F3F3;
	font-size: small;
	color: black;
	font-family: Consolas, "Courier New", Courier, Monospace;	
	/*white-space: pre;*/
}

.wikicode pre { margin: 0em; }

.wikicode .rem { color: #008000; }

.wikicode .kw { color: #0000ff; }

.wikicode .str { color: #006080; }

.wikicode .html { color: #800000; }

.wikicode .attr { color: #ff0000; }

.wikicode .alt 
{
	background-color: white;
	width: 100%;
	margin: 0em;
}

.wikicode .ln { color: #606060; }

/*CSS Image Alignment */
.image-align-right { float:right; margin: 0 0 10px 10px; }
.image-align-left { float:left; margin: 0 10px 10px 0; }
/*Not FF right now */
.image-align-middle{display:block;text-align:center;margin: 0 10px 10px 0;}

/*Attachment Table */
.attachTable thead{height: 1.2em;background: #f3f3f3;border-bottom: 2px solid #cccccc;}
.attachTable thead tr th{font-weight: bold;padding: 0px 2px;width: 100px;height: 1.2em;border-right: 1px solid #cccccc;border-bottom: 2px solid #cccccc;}
.attachTable tbody{top: 1.2em;width: 100%;overflow: auto;}
.attachTable tbody tr td{padding: 2px 2px;}
/*Fix Numbered Lists in content for IE */
.wikiDoc ol{padding-left:10px;}
/*.header{height:100px;width:75%;margin-left:210px;margin-top:30px;padding:5px;} JEH: Removed height to allow header to expand to content.*/
.header{width:95%;margin-top:30px;padding:5px;}
.idcTitleBar {clear:both;font-size:0.9em;height:2em;line-height:2em;margin-top:0.2em;padding:2px 5px;text-align:center;}
/* #idcColRight, .idcColRight{float:right;font-size:0.9em;margin:10px;padding:5px 0px;width:200px;} */
#idcColRight, .idcColRight{float:right;font-size:0.9em;padding-top:16px;padding-left:0px;padding-right:10px;width:170px;}
.spotLightArticle{background-color:#EEEEEE;border:1px solid #CFCFCF;padding: 10px;}
.spotLightArticle #head {font-size: 1.4em; font-weight:bold;display:inline}
.spotLightArticle td{}
.spotLightArticle a{font-size:0.9em; font-weight:bold;}
.spotLightArticle span{font-size:0.8em; font-weight:normal;}
.header .domino-richtext xspInputFieldRichText, #header #domino-richtext xspInputFieldRichText{font-size: 12pt; font-family:arial;}
.sideBar{display:block; padding: 10px;}
.firstSpotArticle{padding-top:5px;}
.altSpotArticle{border-top: 1px solid #CFCFCF;padding-top:5px;}
.landheadline{background-image:url(dx/header.gif/$file/header.gif);
background-repeat : repeat-x;border:1px solid #cccccc;background-color:#6988a3;font-family:arial,sans-serif;font-size:1.0em;font-weight:bold;color:#FFFFFF;padding:3px 5px;margin:0px;height:1%;}
.lotusLogoBanner ul,#lotusLogoBanner ul{float:left !important;padding-left:0px;margin:3px 0px !important;list-style:none !important}
.lotusLogoBanner li, #lotusLogoBanner li{border-width:1px !important;border-left-color:#639ADE !important;background-color:transparent !important;color:#000000 !important;padding:0 5px !important;border-left-style:solid !important;display:inline !important;}
.lotusLogoBanner li.lotusFirst,#lotusLogoBanner li.lotusFirst{border-left-style:none !important;}
#lotusFooter th, #lotusFooter td, .lotusFooter th, .lotusFooter td{border-width:0 1px 0 0 !important;}
#lotusFooter th.lotusLast, #lotusFooter td.lotusLast, .lotusFooter th.lotusLast, .lotusFooter td.lotusLast {border-width:0 !important;}
#lotusColLeft .lotusSectionLast, .lotusColLeft .lotusSectionLast {padding-bottom:10px;clear:both;margin:15px 0 0;padding:2px 0 5px;font-size:1em;line-height:1.2em;}
ol {margin-left:20px;padding-left:0.7em !important;}
.roadmap td{border-top-style: none;padding: 0px;}
.landheadline td{padding:3px 5px;}
.required, #required{font-size:1.4em;font-weight:bold;}
.flag, #flag{color:red;font-weight:bold;}
.flagLabel, #flagLabel{color:red;font-weight:bold;font-size:0.9em;}
#mainTitle,.mainTitle,#mainTitle:visited, .mainTitle:visited{color:#FFFFFF !important;text-decoration:none !important;}
#mainTitle:hover, .mainTitle:hover{text-decoration:underline !important;}
.transMenu{background-color:#EEFEE1;background-image:url(./images/menuTop.gif);}
.transMenu{background-position:left top;}
.transMenu{background-repeat:no-repeat;margin:0 0 15px;padding-top:5px;width:178px;}
li.transSelected{background-color:#73BE59;border-color:#73BE59;color:#FFFFFF;margin: 0px 6px;}
#panelHeader{margin:10px 20px 0 0px;border:solid 1px #999; height:20px; background: #3C5F84 none repeat scroll 0 0; }
#panelHeader #header{margin-left:10px;color:white;font-weight:bold;line-height:18px;font-size:1.1em;}
#mainPanel{height:100%;/*border:solid 1px #CFCFCF;margin:0 20px 10px 0px;*/}
#panel1{margin-left:18px;}
.repeat1{height:100%;}
.sectionFirst{border:dotted 1px #CFCFCF;float:left;height:97%;margin-top: 5px;width:23%;font-size: 0.9 em;display:inline-block;
overflow:hidden;padding:2px 2px 2px 1px;}
.section{
	/* border-left:0;
	border-top:dotted 1px #CFCFCF;
	border-right:dotted 1px #CFCFCF;
	border-bottom:dotted 1px #CFCFCF; */
	float:left;
    height:97%;
    overflow:none;
    margin-top: 5px;
    width:32%;
    display:inline-block;
    overflow:hidden;
    padding:3px;
}
.bpsection1{
	border-left:dotted 1px #CFCFCF;
	border-right:dotted 1px #CFCFCF;
	border-bottom:dotted 1px #CFCFCF;
    float:left;
    min-height:30%;
    height:30%;
    max-width:47%;
    width:46%;
    font-size: 0.9 em;
    margin-left: 18px;
    display:inline-block;
    overflow:hidden;
    padding:4px;
 
}
.bpsection2{border-right:dotted 1px #CFCFCF;border-bottom:dotted 1px #CFCFCF;float:left;height:30%; min-height:30%;max-width:47%;
width:46%;font-size: 0.9 em;display:inline-block;overflow:hidden;padding:4px 5px 4px;}
/*.panelImg{display:block;margin-bottom:10px;}*/

.lotusWelcome .lotusForm{margin:15px 0}
.lotusWelcome input.lotusBtnSpecial{padding:1px 2px;background-position:center left;background-repeat:repeat-x;border-width:1px;border-style:solid;font-size:.9em;font-weight:bold}
.lotusWelcome .lotusContent input.lotusText{width:225px}
/*.lotusWelcomeBox{margin:20px 20px 20px 210px;padding:15px;position:relative;border-width:1px;border-style:solid;overflow:hidden;zoom:1;min-height:120px;} JEH:Removed min-height to let box shrink to fit text.*/
/*.lotusWelcomeBox{width:95%;margin:20px 20px 20px 0px;padding:15px;position:relative;border-width:1px;border-style:solid;overflow:hidden;zoom:1;}*/
.lotusWelcomeBox h2{margin:0 180px 10px 0;font-size:1.7em;font-weight:normal;line-height:1em;}
.lotusWelcomeBox .lotusBtnContainer{margin:15px 0 0 0}
.lotusWelcomeBox .lotusBtnContainer .lotusBtn{float:left;}
.lotusWelcomeBox p, .lotusWelcomeBox ul{margin:0 10px 0 0 !important}
.lotusWelcomeBox ul{padding-left:2em;list-style-position:outside;}
.lotusWelcomeBox ul.lotusInlinelist{padding-left:0;padding-top:2px}
.lotusWelcomeBox ul.lotusInlinelist li{border-left-width:0;}
.lotusWelcomeBox img{position:absolute;top:16px;right:50px;}
.lotusWelcomeBox .lotusClose{position:absolute;top:10px;right:12px;border-width:1px;border-style:solid}
.lotusWelcomeBox .lotusClose img{position:static}
.lotusWelcome .lotusBtnAction, .lotusWelcomeBox .lotusClose{border-color:#666666}
.lotusWelcomeBox{background-color:#e8f0fb;border-color:#d1e0f7}
.lotusWelcomeBox, .lotusWelcomeBox h2{color:#4275aa;}
.lotusWelcomeBox .lotusBtnAction:hover, .lotusWelcomeBox .lotusBtnAction:focus, .lotusWelcomeBox .lotusClose:hover, .lotusWelcomeBox .lotusClose:focus{border-color:#333333}
.lotusSpritesOn .lotusClose img{background-image:url(themeImages/lotusSprite-8bit.png);background-position:0 -2275px}
.spotLightIcon{float:left;}
.columnHead{margin-left:2px;}
.tagline{font-size:.75em;display:inline-block;}
.tagline2{font-size:.75em;display:inline-block;margin-top:10px;}
.columnHead .columnName{font-size:1.1em;font-weight:bold;margin-left:3px;display:inline-block;width:70%;vertical-align:middle;}
#nftrans{margin-bottom:5px;}
/*override the overflow for content that extends beyond content border */
#lotusContent, .lotusContent {overflow:auto !important}
/* hack to fully left-justify the banner */
#lotusBanner, .lotusBanner {margin-left: -20px;}

/* wiki name in the banner */
.wikiName{font-weight: bold;}

/* set rules for accordion panes and nav trees */
/* JEH 10 Feb 2011 - Commented out twistees on accordion trays per usability feedback */
/* .tundra .dijitAccordionTitle{background: #e8f0fb url('/domjava/xsp/theme/common/images/section_collapsed.gif') no-repeat left;} */
/* .tundra .dijitAccordionTitle-selected{background: #e8f0fb url('/domjava/xsp/theme/common/images/section_expanded.gif') no-repeat left;} */
.tundra .dijitAccordionText{margin-left: 8px; padding:0;display: block;}
.productCategoryLink {margin-left: 2px; margin-bottom: 4px; padding-top: 8px;}
.productCategoryLink a {font-size: 1.0em; color: #105CB6; cursor: pointer;}
.productCategoryLink a:link, a:visited {text-decoration: none;}
/* set a highlighted style for the current topic */ 
.tundra .dijitTreeNodeSelected .dijitTreeLabel {background: #FFFFFF none repeat scroll 0 0;} 
.tundra .dijitTreeNodeSelected .highlighted {background: yellow none repeat scroll 0 0;} 
.highlighted {background-color: #FFFF73;} 
/* set the tree icon to no background image */
/* .navTreeIcon {background-image: none;} */ 
/* get rid of the default margin used to separate label from icon */
/*.dijitTreeLabel {margin: 0px; color: #105CB6;} */
/* override the default 16x16 tree icon style */
/*.tundra .dijitTreeIcon {height: 0px; width: 0px;} */
.tocFolderOpened{background: url("container_obj.gif") no-repeat scroll 0 0 transparent;}
.tocFolderClosed{background: url("container_obj.gif") no-repeat scroll 0 0 transparent;}
.tocLeaf{background: url("topic.gif") no-repeat scroll 0 0 transparent;}
/* set rules for the tabs */
#tabContainer .tabs{background-image:none;left:10px}
#tabContainer .tabs li{border-bottom-color:#2e5a90;background-image:url(leftTabBlue.gif);}
#tabContainer .tabs a, #tabContainer .tabs a:visited{padding:8px 15px 8px 10px;}
#tabContainer .tabs li a{background-image:url(rightTabBlue.gif);color:#fff;}
#tabContainer .tabs li:hover a, .tabs li:focus a{color:#fff;text-decoration:none;}
#tabContainer .tabs li.selected{border-bottom-color:#e0e0e0;background-image:url(leftTabSelected.gif);}
#tabContainer .tabs li.selected a, #tabContainer .tabs li.selected a:visited{background-image:url(rightTabSelected.gif);padding-left:10px;color:#000}
ul.tabs {position:absolute;bottom:-1px;overflow:hidden;margin:0;padding:0;list-style:none;}
.tabs li {float:left;margin-right:2px;padding-left:3px;background:url(leftTabBlue.gif) top left no-repeat;border-bottom:1px solid #e0e0e0}
.tabs a, .tabs a:visited {display:block;padding:5px 15px 4px 10px;text-decoration:none;line-height:1.2em;color:#999;background:url(rightTab.gif) top right no-repeat;}/*line-height is for IE, to keep the selected tab sitting on top of the border when there is a drop-down image in the tab*/
.narrow a, .narrow a:visited {display:block;padding:5px 10px 4px 5px;}
.tabs a:hover, .tabs a:focus {color:#000;}
.tabs li.selected {background:url(leftTabSelected.gif) top left no-repeat;border-bottom-color:#fff}
.tabs li.selected a, .tabs li.selected a:visited {background:url(rightTabSelected.gif) top right no-repeat;color:#000;font-weight:bold;}/*bolding the selected tab helps with high contrast accessibility*/

/* Styling for Advanced Search link in title bar */
#viewSearchBar .viewSearchLinks li a{background-image:none;color:#FFFFFF;}
#viewSearchBar .viewSearchLinks li:hover a, .viewSearchLinks li:focus a{color:#000;text-decoration: underline;}

/* Styling for Advanced Search link in title bar */
a.advancedSearchLink {color:#FFF;}
a.advancedSearchLink:link{color:#FFF;}
a.advancedSearchLink:hover{color:#000; text-decoration:underline;}

/* Styling for view selector and search controls in title bar */
.viewSearchBar ul{list-style-type: none;display: inline;margin: 0;padding: 0;}
.viewSearchBar li{display: inline;border-left: 1px solid #639ADE;padding-left: 4px;padding-right: 4px;}

/* Styling for pagers in Advanced Search page */
.advancedSearchPaging{margin-top:2px;padding:2px 5px;height:2em;line-height:2em;text-align:center;font-size:.9em;color:#848484;background-color:#f3f3f3;}
.advancedSearchPaging a, .lotusPaging a:visited{font-weight:bold !important;}
.advancedSearchPaging input{width:20px;text-align:center;}
.advancedSearchPaging div{padding-left:5px}
.advancedSearchPaging .lotusInlinelist li{padding:0 6px;}
.advancedSearchPaging .lotusInlinelist li.lotusLast{padding-left:0}

/* set rules for tabbed article views */
.articleViews{background-image:none;background-color:#FFFFFF;float:left;width:99%;/*padding-right:30px;*/}
/* CSS3 - not supported in IE8 and below .articleTabs{background-image:url(viewsbarLeft.gif), url(viewsbarRight.gif);background-repeat: no-repeat;background-position: left top, right top;padding:0px 0px 0px 6px;margin:0px;list-style:none;background-color:#68a0e3;overflow:hidden;} */
.articleTabContainer{background-image:url(viewsbarLeft.gif);background-repeat: no-repeat;background-position:top Left;padding:0px 0px 0px 5px;margin:0px;list-style:none;overflow:hidden;}
.articleTabContainerRight{background-image:url(viewsbarRight.gif);background-repeat:no-repeat;background-position:top right;padding:0px 5px 0px 0px;margin:0px;overflow:hidden;}
.articleTabs{background-image:none;padding:0px 0px 0px 6px;margin:0px;list-style:none;background-color:#68a0e3;overflow:hidden;}
.articleTabs li{float:left;margin-top:6px;margin-right:2px;padding-left:3px;background:url(leftTabBlue.gif) top left no-repeat;border-bottom-width:0;}
.articleTabs li.selected{border-bottom-color:#e0e0e0;background-image:url(leftTabSelected.gif);}
.articleTabs a, .articleTabs a:visited{padding:7px 15px 7px 15px;display:block;text-decoration:none;line-height:1.2em;color:#fff;}/*line-height is for IE, to keep the selected tab sitting on top of the border when there is a drop-down image in the tab*/
.articleTabs li a{background:url(rightTabBlue.gif) top right no-repeat;color:#fff;}
.articleTabs li:hover a, .articleTabs li:focus a{color:#fff;text-decoration:none;cursor:pointer;}
.articleTabs li.selected:hover a, .articleTabs li.selected:focus a{color:#000;}
.articleTabs li.selected {background:url(leftTabSelected.gif) top left no-repeat;border-bottom-color:#fff}
.articleTabs li.selected a, .articleTabs li.selected a:visited{background:url(rightTabSelected.gif) top right no-repeat;padding-left:10px;color:#000;font-weight:bold;}/*bolding the selected tab helps with high contrast accessibility*/
.myArticlesMsg{padding-top: 10px;font-size: 1.1em;}
#articleListing{}
.viewMoreArticlesLink{float:right;background-image:url(view-more-articles.gif);background-repeat:no-repeat;padding-left:20px;}
.ibmAuthorIcon{margin-right:4px;}
.numResultsDiv{display: inline-block;}
.numResultsPicker{margin-bottom: 8px; margin-top: 6px;}
.numResultsPicker ul{list-style-type: none;display: inline;margin: 0;padding: 0;}
.numResultsPicker li{display: inline;border-left: 1px solid #639ADE;padding-left: 4px;padding-right: 4px;text-align: center;}
.numResultsPicker li.firstItem{border: none;}
/* set rules for IBM icon explanation box */
.messageBox{background-color:#e8f0fb;border:1px solid #4275aa;margin-bottom:6px;padding:10px;position:relative;background-position:left top;background-repeat:repeat-x;overflow:hidden;}
.messageBox .msg{font-size:1.1em;font-weight:normal;line-height:1em;color:#4275aa;}
.messageBox .lotusBtnContainer{margin:15px 0}
.messageBox .lotusBtnContainer .lotusBtn{float:left;}
.messageBox .lotusClose img{float: right;border-width:1px;border-style:solid;}
.messageBox .lotusClose img:hover{cursor: pointer;}

.queryStringLabel {margin-bottom: 8px;font-weight:bold;}
.queryStringComputed {margin-bottom: 8px;}


.idctocstyle{width:100%;margin:0 0 12px 0;border-width:1px;border-style:solid;-moz-border-radius:2px;-webkit-border-radius:2px;
overflow:hidden;background-position:top left;background-repeat:repeat-x;border-bottom-color:#E5E5E5;}

/* set rules for page toolbar */
/* .pageToolbar{width:95%;margin-bottom: 10px; padding-top: 10px;padding-right:30px;height: 3em;border:1px solid #E5E5E5;background-color: #E8F0FB;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;-webkit-border-radius:6px;} */
/* 7.1.1 Change border and background color only - JEH */
/* .pageToolbar{width:95%;margin-bottom: 10px; padding-top: 10px;padding-right:30px;height: 3em;border:1px solid #CCCCCC;background-color: #F4F5F6;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;-webkit-border-radius:6px;} */
/* 7.2 Remove border and background and clear left for one ui 3 design - JEH */
.pageToolbar{width:95%;margin-bottom: 14px; padding-top: 6px;padding-right:30px;height: 2.5em;clear: left;}

/* set rules for add/edit article buttons */
/*
.addEditButtonsContainer{display: inline-block; float:right; padding-left: 0px;margin-right: 0px;margin-bottom: 4px;position:relative;top:-10px;}
*/
.addEditButtons{display: inline;list-style:none; padding-left: 0px;float:left;}
.addEditButtons li {float: left; margin-left:0px; position:relative;top:-10px;}
.addEditButtonsArticle{display: inline;list-style:none; padding-left: 4px;float:left;}
.addEditButtonsArticle li {float: right; margin-left:6px; position:relative;top:-10px;}
.editSaveCancelButtons{display: inline;list-style:none;padding:0;}
.editSaveCancelButtons li {float: left; margin-right:6px;}
/* Added style for Advanced search buttons - JEH 3/28/2011 */
.advSearchButtons{display: inline;list-style:none; padding-left: 10px; float:left;}
.advSearchButtons li {float: left; margin-left:10px; position:relative;top:-10px;}
/* override lotusBtn colors */
span.lotusBtn a {color: #000000;}
span.lotusBtn a:visited {color: #000000;}

/* set rules for ratings widget */
/* MKS 8/2/2010 change rare_widget_div, add rare_widget_div_doc since widget has moved. */
#rare_widget_div {float: right;position:relative;top:-10px;text-align: right;}
#rare_widget_div_doc {text-align: right;}
#rate_article_text { font-weight: bold; font-family: arial; font-size: 12px; }
#ratings_login_link a{ text-decoration: none; font-family: arial; font-size: 12px; }
#numRatings {font-size: 12px; position: relative; top: 2px; margin-left: 4px; }
#msg { font-size: 12px; position: relative; top: 2px; margin-left: 4px; }
.starspan_container { border: 0px solid #000000; padding: 0px; margin: 0px; }


/* set rules for translated product documentation page */
.transpage a {font-weight:bold; color: #000000;}

/* override oneUI rules for width and styling of left sidebar */
.lotusMain, #lotusMain {/*background-image:url(sidebar.gif); background-repeat:repeat-x; */!important}
.lotusColLeft, #lotusColLeft {width: 220px;border-right: 3px #E8F0FB solid;min-height:1500px;background-image:url(sidebar.gif); background-repeat:repeat-x;}

.customNavigator{width:220px;overflow:auto;overflow-y: hidden;overflow-x:auto;}
.shareDigg{background:url("sprites-pt-all.png") no-repeat scroll 0 -26px transparent;}
.shareFacebook{background:url("sprites-pt-all.png") no-repeat scroll 0 -78px transparent;}
.shareTwitter{background:url("sprites-pt-all.png") no-repeat scroll 0 -158px transparent;}
.shareLinkedIn{background:url("sprites-pt-all.png") no-repeat scroll 0 -104px transparent;}
.shareDelicious{background:url("sprites-pt-all.png") no-repeat scroll 0 0 transparent;}
.shareStumble{background:url("sprites-pt-all.png") no-repeat scroll 0 -208px transparent;}
.shareEmail{background:url("sprites-pt-all.png") no-repeat scroll 0 -54px transparent;}
.accordPane{width:97% !important;height:/*400px*/ 100% !important;}
.lotusWidget h2 {background-color: gray /*#E8ECEE*/ !important;background-image: url("lotusHorzBgSprite-8bit.png") !important;
background-position: 0 -900px !important;border-color: #E8ECEE !important;cursor: none !important;}
