/* Copyright IBM Corp. 2001, 2008 */
/* CSS Document */ /*version 1.08 7/17/08*/
/*contains alternate images for RTL orientation*/

/*** C S S   S P R I T E S ***/
/*arrows for closed sections*/
.lotusTwistyClosed{background-position:-26px -54px}
.lotusDraggableSection .lotusTwistyClosed{background-position:-65px -54px}
.lotusTwistyClosed:hover, .lotusTwistyClosed:focus{background-position:-39px -54px}
/*status section*/
.lotusStatus .lotusTwistyClosed{background-position:-22px -91px}
.lotusStatus .lotusTwistyClosed:hover, .lotusStatus .lotusTwistyClosed:focus{background-position:-33px -91px}
/*left column and menu arrows are a little smaller*/
#lotusColLeft .lotusTwistyClosed, 
.lotusColLeft .lotusTwistyClosed{background-position:-22px -75px}
#lotusColLeft .lotusTwistyClosed:hover, #lotusColLeft .lotusTwistyClosed:focus, 
.lotusColLeft .lotusTwistyClosed:hover, .lotusColLeft .lotusTwistyClosed:focus{background-position:-33px -75px}
.lotusTwistyClosedMenu{background-position:-22px -91px}
.lotusTwistyClosedMenu:hover, .lotusTwistyClosedMenu:focus{background-position:-33px -91px}

/*** T R E E ***/
/*the second class definition for each type of node accommodates a div version of the org chart*/
.lotusOrgChart li a, .lotusOrgChartMiddle{background-image:url(images/orgParentNode_rtl.gif);}
.lotusOrgChart a.lotusTop, .lotusOrgChartTop{background-image:url(images/orgTopNode_rtl.gif)}
.lotusOrgChart .lotusBottom, .lotusOrgChartBottom{background-image:url(images/orgBottomNode_rtl.gif)}
/***********************************************************/

/************D O J O   S T Y L E S**********************************/
/*these override/add to the styles in dijit.css*/

/*calendar/date picker*/
.dijitCalendarIncrease{background-color:transparent;background-image:url(images/calArrowLeft.gif)}
.dijitCalendarDecrease{background-color:transparent;background-image:url(images/calArrowRight.gif)}

/* Rich Text Editor*/
.dijitToolbar .dijitToolbarSeparator{background:url(images/rteToolbar_rtl.gif);}
.dijitEditorIcon{background-image:url(images/rteToolbar_rtl.gif);}

