.lotusTagsText{
    margin-top: 8px;
    border: 1px solid #ACACAC;
	width: 230px;
	height: 21px;	
	}
	
.lotusui30 a.lotusDelete {
    overflow: hidden;
    text-align: right;
    float: right;
}

.lotusui30 .lotusCenterSearch .lotusLayout {
//    background: -moz-linear-gradient(center top , #F4F4F4 25%, #F1F1F1 100%) repeat scroll 0 0 transparent;
    border: 1px solid #AAAAAA;
//    border-radius: 15px 15px 15px 15px;
    width: 60%;
  	font-size: 1.5em;  
}

.lotusui30 .lotusCenterSearch .lotusText {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #666666;
    padding: 4px 0 3px 4px;
}

.lotusui30 .lotusSearchButton {
    background-color: transparent;
    background-image: url("/xsp/.ibmxspres/.oneuiv302/oneui/css/images/lotusHSprite-8bit.png");
    background-position: -569px -8px;
    opacity: 0.6;
}


/* JEH 5/7/2012 Add styles for site spacing with One UI 302 design, 6/20 udpates */
.wikisitetop {margin-top:5px !important;}
.wikisiteright {margin-right:15px !important;}
.wikitableft {margin-left:15px !important;}
.wikinavleftbox {margin-left:10px !important;}
.wikipageleft {margin-left:28px !important;}
.wikipagetypeicon {padding:0 5px 5px 0;} /* Use with larger content type icon */
.wikiviewtypeicon {padding-right:3px;} /* Use with smaller content type icon */
.wikiactionglobal {margin:0px 0 5px 0 !important; padding:0px 5px 3px 0 !important;}
.wikiarticlehead {margin-top:1px !important;}
.wikisearchscopeicons {vertical-align: middle;margin-top: 1px;margin-bottom:1px; padding:0px 3px;} /*Spacing for icons in search drop down */

/* JEH 6/22/2012 Added style for attachments table */
.attachTable {width:100%;}
.attachTable th {text-align:left !important;color: #666666 !important;}

/* MKS 1/31/2012 Make simple list items have no bullet. MSTT8PAPV3 */
span.slspan ul {list-style-type:none;}

.lotusui30 a.ASCSLink, .lotusui30 a.ASCSLink:visited {text-decoration:none;color:#cccccc}

/* MKS 1/20/2012 Move styling of section heading text in extContent here to avoid accessibility warning. */
.sectionlotusBold span {
color: #000000;
}

/* MKS 6/15/2011 Testing interim fix to style AS footer button bar */
.lotusui30_layout .lotusContent .lotusFormFooter {
    background-color: #EEEEEE;border-color: #AAAAAA;border-style: solid;border-width: 1px 0 0;padding-bottom: 10px;padding-left: 20px;padding-top: 10px;}
.lotusui30 .lotusTabs a:hover,.lotusui30 .lotusTabs a:focus {text-decoration: underline;list-style:none;}

.lotusui_ie6 .lotusui30_body .lotusFrame {width: auto;}
/* DDRI8L8P89 */
.lotusui30 .lotusTable th {font-weight: bold;padding: 5px 2px;text-align: center;vertical-align: top;}

/* MKS 7/14/2011 Comment or remove this as part of candidate fix for IE6 display problem. AJBN8JPPTW 
.lotusui_ie6 .lotusContent .mainContentClass {
	width: 734px;	
}
*/
.lotusui30 .lotusForm2 {background-color: #F4F5F6;}
.lotusFirstCell {width:3px;}
/*wiki toc */
.tocWrapper{padding:10px;margin-bottom:10px;border:1px solid #ADADAD;background-color: #F0F0F0; }
.tocWrapper ul{list-style: none;}
.ulWrapper {margin-left:0px;}
.tocHead{font-weight:bold;font-size:1.2em}
.tocHide {float:right;color:blue;cursor:pointer;}
.tocHide:hover {color:red;text-decoration:underline;}
#tocHidden{display:none;}
#tocVisible{display:block;}
/* end wiki toc*/

/* headings in wiki content */
.docHeading h2 {font-size: 1.7em; font-weight: bold; border-bottom: 1px solid silver;}
.docHeading h3 {font-size: 1.4em; font-weight: bold;}
.docHeading h4 {font-size: 1.2em; font-weight: bold;}
/* end headings */

/*source code in wiki content */
.wikicode {border:1px solid silver;overflow: auto;}	
.wikicode pre {background-color: #F3F3F3;font-size: 1em;color: black; font-family: consolas, "Courier new", Courier, Monospace; margin: 0em;border-width:0;padding:0;border:none;}
.wikicode .rem { color: #008000; }
.wikicode .kw { color: #0000ff; }
.wikicode .str { color: #006080; }
.wikicode .html { color: #800000; }
.wikicode .attr { color: #ff0000; }
.wikicode .alt {background-color: white;width: 100%;margin: 0em;}
.wikicode .ln { color: #606060; }
/* end wiki code */

/*wikitable */
.wikitable table { border: 1px solid #666666; border-collapse: collapse;	}
.wikitable td { border: 1px solid #666666;	}
.wikitable th { border: 1px solid #666666;background-color:#CCCCCC;font-weight:bold; }
#mainPanel{height:100%;/*border:solid 1px #CFCFCF;margin:0 20px 10px 0px;*/}
.section{float:left;height:97%;overflow:none;margin: 5px 0px;width:32%;display:inline-block;overflow:hidden;padding:3px;}
.numResultsDiv{display: inline-block;}
.numResultsPicker{margin-bottom: 8px;}
.numResultsPicker ul{list-style-type: none;display: inline;margin: 0;padding: 0;}
.numResultsPicker li{display: inline;border-left: 1px solid #639ADE;padding-left: 4px;padding-right: 4px;text-align: center;}
.numResultsPicker li.firstItem{border: none;}
/* MKS new values for 8.1 because Share menu is now tree nodes */
.shareDigg{background-image:url("sprites-pt-onecol.png");background-position:0 -26px;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:left;vertical-align:middle;}
.shareFacebook{background-image:url("sprites-pt-onecol.png");background-position:0 -78px;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:left;vertical-align:middle;}
.shareTwitter{background-image:url("sprites-pt-onecol.png");background-position:0 -158px;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:left;vertical-align:middle;}
.shareLinkedIn{background-image:url("sprites-pt-onecol.png");background-position:0 -104px;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:left;vertical-align:middle;}
.shareDelicious{background-image:url("sprites-pt-onecol.png");background-position:0 0;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:left;vertical-align:middle;}
.shareStumble{background-image:url("sprites-pt-onecol.png");background-position:0 -208px;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:left;vertical-align:middle;}
.shareEmail{background-image:url("sprites-pt-onecol.png"); background-position:0 -51px;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:left;vertical-align:middle;}
/*
.shareDigg{background-image:url("sprites-pt-all.png");background-position:0 -26px;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:center;vertical-align:middle;}
.shareFacebook{background-image:url("sprites-pt-all.png");background-position:0 -78px;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:center;vertical-align:middle;}
.shareTwitter{background-image:url("sprites-pt-all.png");background-position:0 -158px;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:center;vertical-align:middle;}
.shareLinkedIn{background-image:url("sprites-pt-all.png");background-position:0 -104px;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:center;vertical-align:middle;}
.shareDelicious{background-image:url("sprites-pt-all.png");background-position:0 0;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:center;vertical-align:middle;}
.shareStumble{background-image:url("sprites-pt-all.png");background-position:0 -208px;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:center;vertical-align:middle;}
.shareEmail{background-image:url("sprites-pt-all.png"); background-position:0 -51px;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:center;vertical-align:middle;}
*/
.printArticle{background-image:url("sprites-pt-all.png");background-position:0 -128px;background-repeat:no-repeat;background-attachment:scroll;height:20px;width:15px;text-align:center;vertical-align:middle;}
.productCategoryLink {margin-left: 10px; margin-bottom: 4px; padding-top: 8px;}
.productCategoryLink a {font-size: 1.0em; color: #105CB6; cursor: pointer;}
.productCategoryLink a:link, a:visited {text-decoration: none;}
.tocLeaf{background: url("topic.gif") no-repeat scroll 0 0 transparent;}
/* end Accordion */
#msg { font-size: 12px; position: relative; top: 2px; margin-left: 4px; }
.starspan_container { border: 0px solid #000000; padding: 0px; margin: 0px; }
/* end Ratings styles */
/* accordion styles */
.accordPane{height:100% !important;width:100% !important;}
/* override oneUI rules for width and styling of left sidebar */
/* override OneUIv3 dojo accordion styles */
.oneui30 .dijitAccordionInnerContainer {margin: 0 15px 3px !important;}
.oneui30 .dijitAccordionTitle {-moz-border-radius: 3px 3px 0 0;-moz-box-shadow: 0 3px 5px #EEEEEE;background-color: #F4F4F4;
background-image: -moz-linear-gradient(center top , #F4F4F4 0%, #EAEAEA 100%);border: 1px solid #CCCCCC;color: #000000;font-weight: bold;padding: 4px 5px 6px;}

/* end override */
.customNavigator{width:220px;overflow:auto;overflow-y: hidden;overflow-x:auto;}
/* hover highlight for action bar */
.popupHover:hover{background-color: #E1E1E1;border-style:solid; border-color: #BCBBBB; border-width:1px 0;}
.oneui30 .dijitTooltipContainer {padding: 1px !important;}
.lotusui30 .lotusFooter table {margin: 5px 200px !important;width: 80% !important;}
.lotusui30 .lotusSection2 .lotusArrow img {background-image: none !important;}
/* Don't give lotusLeft a width. JHES8NELU4 */
/*.lotusui30 .lotusLeft {width: 85%;}*/
.oneui30 pre {border-width:0 !important;padding:0 !important;}
.lotusMeta li a:visited{color: #666666;}
#lotusContent, .lotusContent {overflow:auto !important}
.highlighted{background-color: #E1E1E1;border-width:1px 0px;border-style:solid;border-color:#BCBBBB;color: #000000 !important;}
.flag, #flag{color:red;font-weight:bold;}
.oneui30 .dijitAccordionContainer .dijitAccordionContainer-child {padding:5px 0 !important;}
.lotusui30 .lotusIconLike, .lotusui30 .lotusIconMsgConfirm, .lotusui30 .lotusIconMsgError, .lotusui30 .lotusIconMsgInfo, .lotusui30 .lotusIconMsgWarning {
  background-image: url("lotusHSprite-8bit.png");background-repeat: no-repeat;display: inline-block;height: 16px;width: 16px;}
.lotusui30 .lotusIconMsgError {background-position: -22px -8px;}
.lotusui30 .lotusIconMsgWarning {background-position: -66px -8px;}
.lotusui30 .lotusIconMsgInfo {background-position: -44px -8px;}
.dijitTree {overflow: hidden !important;}
.tocHeader{height:15%;border-bottom:2px solid gray;border-right:2px solid gray;padding:10px 0px; }
.docTree{padding-top:10px;overflow-x:hidden;overflow-y:auto;;border-right:2px solid gray;}
.lotusui30 .lotusPlaceBar .lotusInner {border-bottom: 0px !important;overflow: hidden !important;padding: 15px 0 0 0 !important;}
.lotusui30_layout .lotusColLeft, .lotusui30_layout .lotusColRight {background-color: transparent;padding: 0px 0px !important;}
.lotusui30_layout .lotusMain .lotusContent {border-width: 0; padding: 0px 0 40px 0 !important;}
.nfluent{ border: 1px solid #AAAAAA;font-size: 0.9em;font-weight: normal !important;height: 1.7em !important;}
.lotusui30dojo .dijitSelect {background-color: inherit !important;border: none !important; padding-top:4px;}
.lotusui30dojo .dijitSelectFocused {border: none !important;}
.lotusMenuSection {border-bottom:0px solid #eee !important;}
.lotusui30 .lotusInlinelist li {display:inline-block;}
.pdLinks{color: #222222 !important;white-space: nowrap !important;}
.lotusFilter {background-color: #FAFAFA;border:1px solid #ccc;line-height:1.4;margin:1px 3px 5px 0;padding:3px 3px 1px 5px;}
.verdiffTable{background-color:rgb(226,226,226);}
.verdiffTable2{background-color:rgb(226,226,226);border-color:rgb(226,226,226);}
.verdiffBorder{border-color:rgb(128,128,128);border-style:solid;border-width:thin;}
.lotusDivider{color:#666666 !important;}
.xspPagerNav {color:#666666 !important;}
.xspGroup span span.xspCurrentItem{color: #666666 !important;}
/* JEH 8/27/2012 Update style of selected items on dojo tree when lotusSelected is missing and only dijitTreeRowSelected is there */
.lotusui30dojo .dijitTreeRowActive, .lotusui30dojo .dijitTreeRowSelected, .lotusui30dojo .dijitTreeRowSelected 
{
    background-color: transparent !important;
    border-color: transparent !important;
    color: #000 !important;
    font-weight: bold !important;
    text-decoration: none !important;
}
.lotusui30 .lotusMenu .lotusTree .dijitTreeRow.dijitTreeRowSelected .dijitTreeExpandoLeaf + span + .dijitTreeContent:before {
    color: #DD731C;
    content: "\25AA";
    font-family: Arial,Helvetica,sans-serif;
    margin-left: -10px;
    margin-right: 5px;
}
.lotusui30 .lotusMenu .lotusTree .dijitTreeRowSelected .dijitTreeExpandoClosed {
    background-position: 4px -940px;
}
.lotusui30 .lotusMenu .lotusTree .dijitTreeRowSelected .dijitTreeExpandoOpened {
    background-position: 4px -844px;
}
.indexPointer{cursor:pointer;}