/* Copyright IBM Corp. 2001, 2008 */
/*This CSS was built on May 3 2009. (version: OneUI-2.0.0_20090503-0300)*/
/*these are the styles for the footer (layout)*/
/*companion file is footerTheme.css*/
/*** F O O T E R ***/
/*this sits at the bottom of the UI and contains a lot of support links, like help and about*/
.lotusFooter {
  padding:10px 10px 10px 0 !important;
  border-width:1px !important;
  -moz-border-radius:4px !important;
  -webkit-border-radius:4px !important;
  font-size:.9em !important;
}

.lotusFooter p {
  margin:0 !important;
  line-height:1.3em !important;
}

.lotusFooter ul {
  margin:0 !important;
  padding:0 !important;
  list-style-type:none !important;
}

.lotusFooter li {
  line-height:1.2em !important;
  padding:.3em 0 !important;
}

.lotusFooter th, .lotusFooter td {
  border-right-width:1px !important;
  border-style:solid !important;
}

.lotusFooter th.lotusLast, .lotusFooter td.lotusLast {
  border-width:0 !important;
}

.lotusFooter th {
  padding:5px 10px 3px 25px !important;
  width:20% !important;
  font-weight:bold !important;
  font-size:1.1em !important;
}

.lotusFooter td {
  padding:0 50px 10px 25px !important;
}

/***********************************************************/
